$primary-color: #dddddd;
$dark-gray: #aaaaaa;
$backgroud-color: #eeeeee;
$pastel-gray: #cccccc;
$almost-black-gray: #797979;

/* 
  Accent colors
*/
$amazon: #f7717d;
$amazon-darker: #e16772;
$weldon-blue: #7a9e9f;

/* 
  Main menu colors
*/
$menu-link-gray: #586368;
$menu-caption-gray: #34434b;

/* 
  Buttons and other calls to action
*/
.btn-primary {
  background-color: $backgroud-color;
  border-radius: 2px;
  border: none;
  padding: 6px 10px;
  font-size: $side-text;
  color: $almost-black-gray;
}

.btn-primary-action {
  background-color: $weldon-blue;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  padding: 6px 10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.btn-secondary {
  background-color: $amazon;
  border-radius: 2px;
  border: none;
  padding: 6px 10px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* 
  Link tags
*/
.link-secondary {
  color: darken($weldon-blue, 15%);
  font-weight: 500;
}

/* 
  Alerts
*/

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 8px;
  color: $menu-caption-gray;
}

.flash-success {
  border: 2px solid #1edd88;
}

.flash-warning {
  border: 2px solid #ffc65a;
}

.flash-danger {
  border: 2px solid #ef6e79;
}

.error-message {
  color: $amazon-darker;
  font-size: 12px;
  margin-top: 0;
}
