@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'Header';
@import 'PostView';
@import 'PostList';
@import 'PostCard';

.main-menu {
    height: 80vh;
    background-color: #e8e8e8;
    width: 200px;
}