.post-create {
    &__outer {
        margin-top: 20px;
        display: flex;
    }

    &__inner {
        max-width: 40rem;
    }

    &__select {
        display: block;
        font-size: $side-text;
        color: #444;
        line-height: 1.3;
        padding: 4px;
        box-sizing: border-box;
        margin: 0;
        border-radius: .5em;
        background-color: #fff;
    }

    &__side-information {
        font-size: $side-text;
        color: $font-color;
        max-width: 20rem;
        margin-right: 40px;
        padding-right: 20px;
        border-right: 1px solid $primary-color;
    }
}

.field-required {
    color: $amazon;
}

label {
    display: block;
    margin: 10px 0;
    color: $font-color;
    font-size: $side-text;
    p {
        margin-bottom: 4px;
    }
    input {
        margin-left: 0;
        padding: 2px;
    }
    input[type='checkbox'] {
        margin-left: 6px;
    }
    textarea {
        border: 1px solid $primary-color;
    }
}

.horizontal-field {
    display: inline-block;

    label {
        display: block;
    }

    .field-right {
        margin-left: 20px;
    }
}

// image uploader
.img-contained {
    position: relative;
    margin: 10px 6px;
    display: inline-block;
    img {
        max-width: 170px;
        max-height: 170px;
    }
}

.delete-img-btn {
    position: absolute;
    left: 0;
    top: 0;
}